[2016-01-14 22:58] Ipstenu opened #1 "More Educational Interface"
Looking at this example from Google, there are a couple takeaways I think would help us:

![screen shot 2016-01-14 at 2 54 17 pm](https://cloud.githubusercontent.com/assets/807903/12340324/0300be18-bacf-11e5-99aa-df18deba4cdc.png)
1. By having a dropdown, we're educating users as to WHAT this will be used for. iPhone, iPad, Rest API, Jetpack ;) That will help them understand the purpose.
2. Having

[2016-01-15 15:20] georgestephanis commented on #1
We could very easily stop using the WP_List_Table class and just create the table manually and run it all through JS instead of PHP.

[2016-01-15 19:33] georgestephanis opened #4 "[DISCUSSION] Should the REST API using App Pass auth be able to create new App Passes?"
Should the REST API using Application Password auth be able to create new Application Passwords?

I'm torn, because if so, applications could create more routes in, but at the same point, what's to prevent them from just sharing the existing application password or oAuth tokens and having the same problem?

[2016-01-18 23:13] scarstens opened #5 "Spaces in app passwords"
Are the spaces actually part of the passwords? If not the chunking needs to be done using spans and padding.

![image](https://cloud.githubusercontent.com/assets/1483300/12405123/5e83f750-bdfe-11e5-9009-c19f62440cce.png)

[2016-01-18 23:14] scarstens opened #6 "period in the way of copy paste"
The period is part of the structure and gets in the way of the copy and paste.

![image](https://cloud.githubusercontent.com/assets/1483300/12405148/82ed8f20-bdfe-11e5-865e-eefccad5c1ec.png)

[2016-01-18 23:30] scarstens commented on #5
nevermind, found the solution built for this here:
https://github.com/georgestephanis/application-passwords/blob/master/class.application-passwords.php#L267

[2016-01-18 23:30] #5 closed

[2016-01-18 23:32] scarstens commented on #1
Also after testing, nothing indicates that these passwords are "temporary", but they are. They are gone after page reload.

[2016-01-18 23:36] scarstens commented on #1
Maybe its too much, wouldn't know without asking the core team, but I was thinking there should be a new page under users for "Security". Between 2FA and Application passwords and regular user passwords and roles, I wouldn't mind seeing all this get moved asside the other user profile meta like "Display Name" and "Twitter Name"

![image](https://cloud.githubusercontent.com/assets/1483300/12405466/

[2016-01-19 16:39] Ipstenu commented on #1
Where's the line between security and profile for 'passwords' though. I think, for **now** leaving this on the Your Profile Page is appropriate. Leave the refactoring of the profile page to another project.

[2016-01-19 16:42] Ipstenu commented on #4
If they share the password, it's easier to revoke one password.

If RestAPI can add passwords, then we should be able to know who made the password so we can say "Aha, this app password is being abused by the rest API to do XYZ..." and track down who's the numbnut.

I'd lean towards NOT letting them make new passwords with the same idea as why we don't let just anyone make a bunch more accounts. I

[2016-01-19 16:43] Ipstenu commented on #6
Maybe...

Would that be better?

[2016-01-21 18:11] #6 closed

[2016-01-21 18:43] georgestephanis commented on #1
So, for columns in the table, would we want then ...

Name | Created | Last Used | Last IP | Revoke Button

?

I'm tempted to ditch the WP_List_Table class and just build it purely in JS for simplicity.  Not sure if that'd be silly though.

[2016-01-21 18:50] voldemortensen commented on #1
Doing it purely in JS would leave it without a no-js fallback, no? I understand the world is moving towards JS (which has its pros and cons, especially from a security perspective), but I think its long been a core value to have a no-js fallback.

[2016-01-21 18:56] georgestephanis commented on #1
Well, some stuff has been necessary for a no-js fallback -- logging in/out, activating/deactivating plugins, switching themes -- basically the stuff that you need to be able to do to get your site working properly and resolve conflicts caused by borked JS.

As to whether or not this would need a no-js fallback, and for what aspects, I'm not quite certain.

[2016-01-27 22:00] georgestephanis commented on #1
In c0a3bfa6ab6e9df63b7acb94bac14faae3bd9496 I migrated to a new 'revoke' column and 27274f750be517fd92525ebf2119b3b219383ab6 simplified the admin screen for users not using app passwords by hiding the table entirely if it's empty.

[2016-02-04 12:41] kjbenk opened #7 "Unit Tests: Should we create them?"
I was reviewing this plugin last night and I realized that there were no unit tests within this plugin.  I think we should create a couple of them to at least show these use cases.

- [ ] Ping a public REST API endpoint - PASS
- [ ] Ping a private REST API endpoint - FAIL
- [ ] List passwords - PASS
- [ ] Revoke passwords - PASS
- [ ] Create passwords with a password - FAIL

Let me know if you hav

[2016-02-04 12:42] kjbenk opened #8 "Documentation: How to setup the plugin and use it"
I think we can add a simple Readme.md within the root directory of this plugin to help new users understand what it does and how to use this plugin.  I will be creating a mockup of this document and a respective PR soon.

[2016-02-04 22:09] JeffMatson opened #10 "Review verbiage for end-users"
Verbiage needs to be reviewed/added/changed for end-user clarification.

On it tonight.

[2016-02-04 22:28] MichaelArestad opened #12 "New password presentation is easy to miss"
It's pretty subtle compared to the table and could be more obvious. It might be worth presenting it in a modal accompanied by help text ("spaces don't matter, etc").

[2016-02-05 00:38] kadamwhite commented on #4
Concur.

[2016-02-05 04:25] JeffMatson commented on #12
Solid idea.  I like how cPanel does it on generated passwords with a checkbox confirming you've copied the password.  Do you want to handle this, or shall I?

[2016-02-05 04:27] JeffMatson commented on #8
Pull request grabbed, edited, and pushed to branch.  Closing this.

[2016-02-05 04:27] #8 closed

[2016-02-05 15:00] kjbenk commented on #12
I can write up PR for this :)

[2016-02-05 15:28] kjbenk opened #13 "Plugin Action Link"
I think we should add a plugin action link to give users an easy way to navigate to their passwords.

[2016-02-05 18:06] kjbenk commented on #12
Is there some sort of modal example I can work off of?  Or do you want me to use my creative spirit :)

[2016-02-05 18:17] kjbenk opened #16 "Prevent Passwords with same name?"
Currently it is possible to create multiple passwords with the same name.  Should we either:

1. Check if the password name has already been taken before adding it.  If so then we can show an error message.
2. Show the ID of each password next to the name so that there is a way to distinguish each password from each other.  I know that the passwords are stored as a simple array within the user met

[2016-02-05 19:02] kjbenk opened #17 "Revoking Passwords: Should we have a confirmation dialog"
Currently there is no confirmation dialog for revoking a password.  This can lead to accidental password revoking.  This is especially bad for the revoking all application passwords button.  At a minimum this should have a confirmation dialog.

[2016-02-06 01:58] JeffMatson commented on #17
I agree.  Your password creation modal was just merged.  Go ahead and handle this the same way.

[2016-02-06 02:08] JeffMatson opened #20 "File Restructuring"
Looks like we're starting to add various files now.  Time for some restructuring.

Thinking:

application-passwords.php
readme.txt
readme.md
assets/screenshot-1.png
assets/screenshot-2.png
includes/classes/class.application-passwords.php
includes/classes/class.application-passwords-list-table.php
includes/css/application-passwords.css
includes/js/application-passwords.js

We might as well get ahea

[2016-02-06 02:15] JeffMatson commented on #16
I say to show an error stating that the name already exists.

[2016-02-06 02:16] JeffMatson commented on #13
This got a little funky in your multiple commits and looks like you overwrote it.  Toss in another pull request and I'll merge it.

[2016-02-06 02:17] JeffMatson commented on #12
Merged

[2016-02-06 02:17] #12 closed

[2016-02-06 02:17] JeffMatson commented on #10
I think we're at a good point right now with it, considering the modal was added.  Closing for now.

[2016-02-06 02:17] #10 closed

[2016-02-06 02:19] JeffMatson commented on #4
Agreed.  We're dramatically changing the security and purpose of the one-time passwords if they're able to make additional changes.

[2016-02-06 02:21] kjbenk commented on #17
Can you please assign it to me :)

[2016-02-06 02:24] JeffMatson commented on #17
Oddly, I cannot?

Consider this an informal assignment.

[2016-02-06 03:03] JeffMatson commented on #13
Merged.

[2016-02-06 03:03] #13 closed

[2016-02-06 03:11] kjbenk commented on #20
That sounds great.

[2016-02-06 03:42] JeffMatson opened #22 "Translatable Strings"
Looks like some of the strings aren't translatable.  I'll get around to this at some point this weekend if nobody else does it first.  If you want to do it, feel free.

[2016-02-09 05:47] jtosey opened #25 "Can't post an article"
I'm unable to post an article to a test server, and cannot figure out why.

I installed this plugin and it shows:

[code]

This works:
`$ curl http://aaatalks.carolinas.aaa.com/wp-json/wp/v2/posts/268`

This does not:
[code]
If I try without the spaces:
[code]
What am I doing wrong?

I've changed the password since posting this (for security reasons) but would happy to send it to you out of band i

[2016-02-09 17:59] kjbenk commented on #25
I think you have to specify a post ID to update within the URL.  Try to change this

[code]

to this

[code]

[2016-02-09 18:09] jtosey commented on #25
If I include the :id, then the post is interpreted as an edit, otherwise a create - but both fail.  Here is the current key - give it a try.  I'm not sure whether to include the spaces in the password - I assume they should not be included.

I'm hosting this on GoDaddy - could they be doing something that prevents this from working?

[code]

[2016-02-09 18:15] kjbenk commented on #25
Oh ok I mis-read your first post and I thought you were trying to update a post.  Either way please confirm that you are able to create a new post using the [Basic Auth Plugin](https://github.com/WP-API/Basic-Auth).  If that works then it might be a problem with Application Passwords.

[2016-02-09 18:26] jtosey commented on #25
No, that doesn't work either (blanking password for this email):

$ curl --user 'osadmin:********' -X POST -d "title=New Title" http://aaatalks.carolinas.aaa.com/wp-json/wp/v2/posts
{"code":"rest_cannot_create","message":"Sorry, you are not allowed to create new posts.","data":{"status":401}}

Any suggestions how to find out why it wouldn't work?

[2016-02-09 18:31] kjbenk commented on #25
Please confirm that you were able to authenticate using the plugin by following the steps [here](https://github.com/WP-API/Basic-Auth#using).  After that I would look into making sure that the user you are authenticating with has permission to create a new post.

Finally,  try to deactivate all other plugins within your site and activate a default wordpress theme and then see if works.

[2016-02-09 18:43] jtosey commented on #25
I did try that - the problem is that this works whether the password is correct or incorrect.   It doesn't actually prove that I've authenticated.

Works:
$ curl --user 'osadmin:*******' http://aaatalks.carolinas.aaa.com/wp-json

Works too:
$ curl http://aaatalks.carolinas.aaa.com/wp-json

So, the only way I know to test authentication is to attempt to modify an object:

$ curl --user 'osadmin:***

[2016-02-09 18:43] kjbenk commented on #20
@JeffMatson I added a PR for this but my structure was not the same as yours.  I normally only like to use /includes for external resources so instead I just kept /css /js and /classes in the root.  I hope this is okay :)

[2016-02-09 18:48] jtosey commented on #25
I tried this on Bluehost, and it works, using a copy of my site.  GoDaddy must be filtering out this header. I'll follow up with them.

Thank you for your help!

[2016-02-09 18:51] kjbenk commented on #25
Great :)

[2016-02-09 22:05] kjbenk opened #28 "Passwords Table: Should a password be prepended or appended after creation."
Currently all new passwords are prepended to the passwords table upon creation, but when the table is viewed after a user refreshes the page the newest passwords appear at the bottom.

I believe this is an inconsistency within the UX and I propose two solutions:

1. Append a newly created password instead of prepending it to keep with the password order consistency
2. Order the passwords from newe

[2016-02-10 02:56] georgestephanis commented on #28
I'd prefer #2, personally.  If the list gets a bit long, it'd probably be easier to see the new one if it always goes on the top.

[2016-02-10 12:27] kjbenk commented on #28
Ok I say that we go with option two and see how that looks.

[2016-02-10 15:03] kjbenk commented on #28
PR was just merged I am now closing the issue.

[2016-02-10 15:03] #28 closed

[2016-02-10 15:04] kjbenk commented on #25
This was a hosting issue and therefore not released to the plugin.  @jtosey can you please close this issue :)

[2016-02-10 15:08] kjbenk commented on #16
@georgestephanis and I have come to the conclusion to follow protocol described within this https://github.com/georgestephanis/application-passwords/pull/24#issuecomment-182090778.  I will be creating a PR for this soon :)

[2016-02-10 17:23] #25 closed

[2016-02-10 21:25] kjbenk commented on #4
What do you think about making two types of passwords?  Upon creating a password the user can chose to either create a:

1. Generic Password, that does **NOT** have the ability to create new passwords
2. Super Password, that does have the ability to create new passwords

We can make this a checkbox and this way the user can decide whether each password is consider generic or super.  Let me know yo

[2016-02-10 21:48] georgestephanis commented on #4
Honestly, I think we're overthinking this at the moment.

This is an authentication system -- I'm not sure if it's our place to restrict what said authentication can be used for.

If someone swipes your real password, they can log in and change your real password, change your email, whatever.

If someone swipes an application password, they can use it for whatever available endpoints there are.

T

[2016-02-10 22:01] kjbenk commented on #4
I agree with with your argument.  I think adding:

to the Application Password section somewhere would fix this issue.

[2016-02-10 22:12] JeffMatson commented on #4
I'm going to disagree with you. The point of single use separate passwords is to better regulate access.  Allowing it to make changes to passwords and such defeats the purpose, in my opinion.

A better solution to this would be to configure access on password creation.

[2016-02-11 14:08] kjbenk commented on #16
I spent a little bit on time on this and here is my conclusion.  The short answer is that its not that simple :) and the long answer is below.

If we are going to go with the direction laid out in this https://github.com/georgestephanis/application-passwords/pull/24#issuecomment-182090778 then we will need to track all of the duplicates.

Essentially when we get all the passwords we are adding a n

[2016-02-11 14:24] georgestephanis commented on #16
I'd naturally prefer to leave it as-is and avoid further complexity.

That being said, if we do need to add it, I'd suggest basically doing a regex something like ...

[code]

Basically regexing out any matches on just the name, or the name plus ` (#)` -- and capturing the number, then just appending 1 + the max of the found numbers to the new one.

That way, if there is:

[code]

(with things 2 a

[2016-02-11 14:31] kjbenk commented on #16
I like your idea, but at that rate we are basically creating an autointcrementor and I rather just use the `umeta_id` as the ID for each password since it will always be unique.

I can go either way on this one, but I do think this should be very simple and it appears as though keeping track of duplicate password names and append strings is just not as simple as either:

1. Do nothing :) :+1:
2. A

[2016-02-11 14:33] georgestephanis commented on #16
umeta_id won't work, as they're stored as a big array in one meta entry.

Besides, we don't care about uniqueness code-wise, this is just for potentially simpler time with user comprehension.

[2016-02-11 14:35] kjbenk commented on #16
Yes you are 100% correct, I forgot that we were storing the passwords this way.

I agree as well which leads me to believe that just adding documentation on the matter might be the easily and best solution.

Let me know what your final thoughts are so that we can close this task out and move forward :)

[2016-02-11 14:37] georgestephanis commented on #16
My thoughts are that we should do nothing.  If they create duplicate names, that's their prerogative.

[2016-02-11 14:40] kjbenk commented on #16
Would you be opposed to adding some extra documentation somewhere to state that "password names are for administrative purposes only and duplicate names are allowed"?  I agree that should do nothing code wise but I also think that we should at least add some documentation.

[2016-02-11 14:42] georgestephanis commented on #16
Why do we need to declare that?  In the absence of notification, they either:

1) Assume they can't do duplicate names -- no big deal, that's fine.
2) Assume they can -- which is also fine.

I don't see the concern that we need to warn them about.

[2016-02-11 14:52] kjbenk commented on #16
I think that simply adding a single sentence to at least describe the purpose of a password name would do nothing but help the user understand how it is used, which allows them to not assume (you know what people say about assuming).

My original thought was maybe to modify the current Add New password textfield and button to look more like a setting, to keep the consistency of all textfields abov

[2016-02-11 19:41] JeffMatson commented on #16
I agree with this method.

[2016-02-19 16:49] #22 closed

[2016-02-19 18:41] georgestephanis commented on #1
By the way, here's a album showing the full workflow for application passwords in Google's account administration:

https://cloudup.com/cVFCCpQ2t3X

[2016-02-19 18:52] georgestephanis commented on #1
Just to confirm, GitHub's personal access tokens are actually 40 character hex strings.

So they would have 16^40 entropy, or 160 entropy.  Also p. hard to type out places.

[2016-02-21 18:06] zabarabab opened #35 "Nearly no database writes ..."
... and not much to see on the screen.

I want to play with wordpress rest interface and gave application-passwords a try. I did a fairly simple wordpress install on a test vm (steps in ansible: [main.yml.txt](https://github.com/georgestephanis/application-passwords/files/139772/main.yml.txt) ) . As a first step after my first login I activate the plugin in Wordpress. There nearly no writes to the

[2016-02-21 18:36] zabarabab commented on #35
Forget it. Configuration problem.

[2016-02-21 18:36] #35 closed

[2016-02-24 16:52] georgestephanis opened #36 "Let's build a simpler ux for apps to request access."
Build a way for apps to link to your site, and generate an application password that is then redirected back.

[2016-02-24 17:00] georgestephanis commented on #36
This will basically be something like a new admin page at `/wp-admin/admin.php?page=request_auth` or something, that accepts a number of request variables --

`$_GET['application_name']` -- (required) the name of the application.  i.e. "WordPress iOS App" -- the user can modify the application name before approving if desired.
`$_GET['success_url']` -- (optional) Where to send the user with the to

[2016-02-24 19:50] ericandrewlewis opened #37 "Brief design description in readme"
Would be cool to see a brief design description high up in the readme. This is a good start in the Description section:

Can we add to that with a description of how clients use this for auth?

[2016-04-13 09:15] joneslloyd opened #43 "Javascript errors on site"
When I try to add a key or revoke one, I get the following console errors:

`DELETE https://mysite.com/wp-json/2fa/v1/application-passwords/1/c94e996d441c 403 ()    load-scripts.php?c=0&load[]=jquery-core,jquery-migrate,utils,zxcvbn-async,underscore,wp-util,backbo…:5`

`POST https://mysite.com/wp-json/2fa/v1/application-passwords/1/add 403 ()     load-scripts.php?c=0&load[]=jquery-core,jquery-migr

[2016-05-03 10:16] Mojo90 opened #44 "Status 401 / Not allowed to Edit"
Hi there,
I have always an Authentication Error with my WP-Blog. I thought it could be the same error as Issue #25 but below you can see the Output of my header. So this could not be the problem. (XXX is the base64 encoded username:password).
Any other ideas to try out?

curl -v --header "Authorization: Basic XXX" -X POST -d "title=New Title" http://www.hyphy.de/wp-json-v2/wp/v2/posts/3526
*   Try

[2016-05-12 15:07] cgrymala opened #45 "Conflict with iThemes Security Pro"
I'll report this to the iThemes team, as well, but there's a naming conflict between the two plugins.

It appears that both your plugin and iThemes Security Pro define classes named `Application_Passwords`, so you can't have both plugins active at the same time. I haven't checked to see if the free version of iThemes Security conflicts with this plugin or not. Thanks.

[2016-05-12 15:58] aaroncampbell commented on #45
Hey @cgrymala, there's a decent amount of shared code between the original [Two Factor Auth plugin](https://github.com/georgestephanis/two-factor) (back when this was part of it), and the two factor functionality in iThemes Security Pro (which isn't in the free version). Some of our code went into that, and some of that code came back into our codebase. The purpose was to make switching from one t

[2016-05-12 18:26] mnelson4 opened #46 "Feasible to pass application password in request body or query string?"
Some servers ignore/block/remove the "Authorization" header from requests. See https://github.com/WP-API/Basic-Auth/issues/1, which I know is a different plugin, but it also sends the important authentication data in the SAME header as this one: the authorization header.
So if we were to use application passwords in a production system, it wouldn't work for many users because the Authorization hea

[2016-05-13 13:13] Mojo90 commented on #44
Fixed it by myself thanks to this post:
https://github.com/WP-API/Basic-Auth/issues/1

Changing .htaccess did the Trick for me:

[code]

[2016-06-04 12:36] Mojo90 commented on #44
Not sure what I changed but I have now the same Error again.
I changed my domain from .de to .rocks and using W3 Total Cache (not sure if that creates some dependencies).
Does anybody have some hints? Tried a lot but it is always the same error again as described above :-(

[2016-08-15 05:10] Ravenna commented on #44
Been battling this one for 24 hours.  the .htaccess fix helped this work.

[2016-08-15 06:49] Mojo90 commented on #44
Yes this was a hard one for me as well 😄 now we developed our own system and do not need WP anymore for this project...

[2016-08-15 06:49] #44 closed

[2016-08-30 08:32] michael-browne opened #50 "Access Denied for non-admin users"
I have a user with a custom user role I would like to give an application password, but when creating a new password on the profile screen I get an "Access Denied" error message returned when I check the developer console. (Although the form simply stays grayed-out, with no response)

Is there a particular user capability that is required to add a password?
Is it possible to allow Subscribers or o

[2016-08-30 19:41] SeanZicari opened #52 "Nothing happens w/ WordPress 4.6"
I don't know what has changed between 4.5 and 4.6, but the application password I have set up for an administrator does not seem to even be attempted to be used. I get a 401 from trying to update a user via the REST API, and the application password does not show that it was used in the administrator's profile.

I'll see if I can figure it out and submit a PR for the fix. If someone else knows wha

[2016-08-30 19:47] SeanZicari commented on #52
Closing this as it had nothing to do w/ the WordPress version. The fix in #44 worked for me!

[2016-08-30 19:47] #52 closed

[2016-09-13 11:14] planetcrypton opened #53 "Simpler password..??"
Hi, this plugin does exactly what I need for my purpose, let users download some settings to a mobile app (which the app keeps until the user decides to reset them). But I know that entering this type of passwords is going spoil the fun and eventually kill it :)
I know that security should never be underestimated, but is there a way to make the created passwords a little less complicated?

[2016-10-08 12:58] georgestephanis commented on #53
The password is as complicated as it is to achieve the required level of entropy to make brute force attacks against it out of the realm of consideration.

However, I hope that the fact that the password only needs to be entered once, as well as #39 (which adds in an authentication flow that will redirect the password back to the requesting website [or potentially app with a custom url scheme] ) s

[2016-10-08 12:58] #53 closed

[2016-10-08 13:03] georgestephanis commented on #50
The only capability that should be required is `edit_user` with their own user id -- https://github.com/georgestephanis/application-passwords/blob/master/class.application-passwords.php#L219-L233 -- Can you get me some sample code that I can use to attempt to duplicate the custom role and debug the issue?

[2016-10-08 13:05] #16 closed

[2016-10-08 13:06] georgestephanis commented on #36
Closing in favor of the pull request.

[2016-10-08 13:06] #36 closed

[2016-10-08 13:08] georgestephanis commented on #43
Are you still seeing this issue?

[2016-10-08 13:09] georgestephanis commented on #45
@aaroncampbell Who picked up the plugin after you left?  Trying to see if this ever got resolved and I can close this out.

[2016-10-08 13:10] joneslloyd commented on #43
I actually stopped using application-passwords shortly after the above error because we were creating something with a pretty quick turnaround and there were a few other ways of going about our issue.

Thanks for checking back with me though :)

[2016-10-08 13:10] georgestephanis commented on #46
Maybe if we add in support for an X-Authorization header that populates the $_SERVER superglobal params if they're not set already.  Unsure.

[2016-10-08 18:09] georgestephanis commented on #37
@ericandrewlewis I'm not sure if this is before or after we added all the usage examples -- is this still relevant, and if so, what would you like to see added?

[2016-10-08 21:44] aaroncampbell commented on #45
That would be Chris Jean.

[2016-10-09 00:35] topdown opened #54 "Question for George"
@georgestephanis I was looking through your pull request code and learned all kinds of things, Thanks for that..
But, it also created a question.
Is there benefit to doing nonce the way you did in
https://github.com/georgestephanis/application-passwords/pull/39/files#diff-a67f6a9179c10f23f65eba957c929506R25
Line 25 of the auth-app.js

Over the typical form nonce and passing the nonce with the data

[2016-10-09 12:19] bumTomica opened #55 "Generate password via PHP?"
Is there a way to generate application password for user via PHP function?

[2016-10-10 17:03] mnelson4 commented on #46
Yeah that's kinda what I suggested on https://github.com/WP-API/WP-API/issues/2512#issuecomment-221927952, but didn't get a direct reply to that suggestion.

I think the issue is that some servers ignore the "Authorization" header in order to do more caching (because if the "Authorization" header is set, it indicates the webserver shouldn't cache the result; and so if they remove the "Authorizatio

[2016-10-10 17:07] georgestephanis commented on #46
I'll need to ponder this a bit longer to give a full response, but the problem with this is that when php is running in fastcgi mode, apache handles the authentication stuff, so by default it doesn't pass through the authentication tokens to php unless otherwise required -- that's what I added https://github.com/georgestephanis/application-passwords/commit/16af809dcaeb347baef8f3a116170eef1bca6633

[2016-10-10 17:44] mnelson4 commented on #46
Yeah that's what our users are needing to do whenever they encounter this (we have mobile apps that interact with our custom endpoints in the WP API). But of course that's pretty complicated, especially when some other plugins might be playing with htaccess.

What's more, I think today we encountered an interesting situation: we suspect a web proxy is operating and removing whatever http headers i

[2016-10-11 03:52] ericandrewlewis commented on #37
I think this was resolved sometime in the interim — closing this out

[2016-10-11 03:52] #37 closed

[2016-10-11 15:38] georgestephanis commented on #55
https://github.com/georgestephanis/application-passwords/blob/c975c312b4f448d6dab0d016e152ab75354d38cd/class.application-passwords.php#L438-L471

[2016-10-11 15:38] #55 closed

[2016-10-14 14:40] thomasedwards opened #56 "No password appears: how to debug?"
I’m adding a new Application Password, but upon clicking ‘Add New’, the button is disabled and there is no further action. There are no JavaScript errors in the console.

How can I debug this to help figure out where it might be going wrong?

[2016-10-29 16:13] wcwhitehead commented on #56
I was having the same problem, except that I was getting two errors in my console for two of the plugin files not being found. What I wound up doing was re-saving the permalink options and that took care of the issue. This plugin works for me as of WP 4.6.1

[2016-11-07 14:46] joelworsham opened #58 "502 on /users/"
Using the authentication I'm getting a 502 on the /wp-json/wp/v2/users/ endpoint. The endpoint works perfectly when not using authentication.

So, 2 questions.

1. Any insight on this 502?
2. Is it possible to require authentication for ALL endpoints? Even GET, I want all information private.

[2016-11-22 21:01] joelworsham commented on #58
If anyone else encounters this, the server was simply crashing. I lowered the returned users via `per_page` and it began to work at a specific threshold.

[2016-11-22 21:01] #58 closed

[2016-12-12 18:42] Lobosque commented on #46
I have the same problem as @mnelson4
Although tweaking .htaccess is easy for most developers, it is a challenge for non-techies, which accounts for a good amount of wordpress users.
I reported the problem with dropping the Authentication header to the core team: https://core.trac.wordpress.org/ticket/39224 but it looks like this is not an issue for the next few versions.

[2017-01-03 08:31] amtbnagios opened #59 "Can't retrieve private post with rest api & Application Passwords?"
Hi!
I installed wordpress 4.7 & Application Passwords plugin( has added a Application Passwords for a admin user)

I can create or update or retrieve posts with rest api (in wordpress 4.7 core)

But if I change a post's status to private, I can't retrieve the post with Application Passwords

Is this rest api limit or Application Passwords limit?

Could some body know & help me ,Thanks a lot!

[2017-02-10 14:29] alexey13 commented on #56
I have same problem. Getting two errors in console. Saving permalinks not helped.

[2017-02-12 00:25] georgestephanis commented on #56
Check your Network tab in the browser debug tools and see if the REST API request that gets fired off processes correctly.

[2017-02-12 00:27] georgestephanis commented on #59
I believe this is an issue with the core REST API, from what I recall?  @kadamwhite -- can you confirm?  Or was that password-protected posts that I'm thinking of there was some debate on?

[2017-02-12 00:28] georgestephanis commented on #54
That's how the Core REST API works for cookie-based authenticated requests.  You need to include a nonce to prevent CSRF attacks.

http://v2.wp-api.org/guide/authentication/#cookie-authentication

[2017-02-12 00:28] #54 closed

[2017-02-12 00:29] #50 closed

[2017-02-12 00:31] georgestephanis commented on #45
@cgrymala Did you ever hear back from the iThemes folks about this?

[2017-02-12 00:31] #43 closed

[2017-02-12 00:32] georgestephanis commented on #20
We're not getting that complicated, so I'm in favor of keeping it relatively simple, even if it's somewhat messy, for easier understanding on the part of new contributors and less digging to find files.

[2017-02-12 00:32] #20 closed

[2017-02-12 00:33] #4 closed

[2017-02-12 00:34] georgestephanis commented on #1
Closing this out following prior efforts to simplify the listing.  More may come down the road if we get a designer willing to put some time in.

[2017-02-12 00:34] #1 closed

[2017-02-12 00:38] georgestephanis commented on #46
I just added some code to master that will enable pulling from an alternate location, in concert with the following code immediately following `RewriteEngine On`

[code]

I've tested it and it works, I just hesitate to add a totally new header, but would be very open to considering a PR if someone else wanted to write it for `X_WP_AppPass` header or something.  Very undecided on the name at the mo

[2017-02-12 00:38] #46 closed

[2017-02-12 02:46] mnelson4 commented on #46
Thanks! So client code shouldn't need any adjustments for this to work, just the ht access file will need tweaking right?

[2017-02-12 03:16] #56 closed

[2017-02-12 03:19] georgestephanis commented on #59
For further context, the user ^^ inquired on the Core REST API repo here previously:

https://github.com/WP-API/WP-API/issues/2991

We don't really differentiate or care what the request is, so I can't imagine how it could be Application Passwords limiting one specific type of post status from being visible.  I'll attempt to duplicate shortly.

[2017-02-12 22:16] vcicmanec opened #63 "Does not work"
I generate password, I try the curl call, I get 401.

[2017-02-12 23:19] #63 closed

[2017-02-25 05:12] #45 closed

[2017-02-25 05:12] georgestephanis commented on #59
Closing this out pending further info from the reporter.

[2017-02-25 05:12] #59 closed

[2017-02-25 15:01] cgrymala commented on #45
Sorry for not getting back to you. I was trying to verify.

Just to close the loop on this, yes, iThemes took care of this, so there is no longer a conflict. I apologize in advance if replying re-opens this issue, but I wanted to make sure I closed the loop.

[2017-03-01 19:57] mnelson4 commented on #46
An update: we recently stumbled on how Woocommerce handles this problem for their REST API: they allow passing authorization data in the querystring.

See https://woocommerce.github.io/woocommerce-rest-api-docs/#authentication-over-https

[2017-04-03 02:54] zumrywahid opened #64 "work over SSL"
I installed this plugin in a SSL installed worpdress. i am getting followng response.

{
  "code": "rest_no_route",
  "message": "No route was found matching the URL and request method",
  "data": {
    "status": 404
  }
}

can you help me on this

[2017-04-03 22:18] r-a-y opened #65 "Documentation typo"
Hi,

Nice work!  I came across a small, little bug.

In `readme.md`, you have the following code:

`curl --header "Authorization: Basic ACCESS_TOKEN" -X POST -d "title=New Title" http://LOCALHOST/wp-json/wp/v2/posts/POST_ID}`

The code should be:

`curl --header "Authorization: Basic ACCESS_TOKEN" -X POST -d "title=New Title" http://LOCALHOST/wp-json/wp/v2/posts/POST_ID`

Remove the right curly br

[2017-04-19 12:45] ahmadawais opened #66 "Possible Automation?"
Is it possible to automate the process?
- Install the plugin
- Code that creates and app
- Gets the passwords and uses it in the cURL requests.

[2017-07-26 15:30] mAAdhaTTah commented on #66
You could probably do a bunch of that w/ WP-CLI, although I was just stopping by to check if there was a command to create a new application password, as I'm trying to do something I suspect similar to you (automate API testing).

[2017-07-26 15:31] ahmadawais commented on #66
Nothing so far. Maybe we should ask @georgestephanis 🤔

[2017-07-26 15:41] georgestephanis commented on #66
Wpcli command? Sure, I'll write it today.

[2017-07-26 15:42] ahmadawais commented on #66
@georgestephanis while that would be awesome — if there's an API to automate the process
- Install the plugin
- Code that creates and app
- Gets the passwords and uses it in the cURL requests.

That would be awesome!

[2017-07-26 15:48] mAAdhaTTah commented on #66
@ahmadawais The rest of those steps can be automated in bash w/ wp-cli, it doesn't have to be specific to this project.

[2017-07-26 15:48] mAAdhaTTah commented on #66
@georgestephanis Thanks so much!

[2017-07-26 15:49] ahmadawais commented on #66
@mAAdhaTTah I know bash and I know that could be done. But having it as an API to be used in PHP/JS would make things far more easier!

[2017-07-26 15:59] mAAdhaTTah commented on #66
@ahmadawais `WP_CLI::runcommand` will allow you to call into WP_CLI commands in PHP rather than bash. I believe there's a wp-cli wrapper for node.js.

My point is just that the automation workflow you're looking for is going to be pretty specific to your use case and not something that should be added to an application passwords plugin.

[2017-07-26 16:34] ahmadawais commented on #66
@mAAdhaTTah Not every server out there has WPCLI installed. So, an API is more powerful than support for WPCLI. Though, I welcome the WPCLI support here.

[2017-08-02 12:06] 90navjot commented on #63
Same issue here
i try with curl and postman
 "status": 401

[2017-08-02 12:07] 90navjot opened #67 "401 error Does not work"
I generate password, I try the curl call, I get 401.

{
    "code": "rest_cannot_create",
    "message": "Sorry, you are not allowed to create posts as this user.",
    "data": {
        "status": 401
    }
}

[2017-08-03 18:06] eddiewebb commented on #67
Make sure you add the .htaccess changes, you;ll know you need them if you see the warning on the user's page when creating app password.

https://github.com/georgestephanis/application-passwords/wiki/Basic-Authorization-Header----Missing

[2017-08-08 16:05] sebask opened #68 "Improved Composer support by publishing at Packagist.org"
Adding the project to https://packagist.org would improve Composer support since Composer will use the Packagist to find this package. Also this would mean safe upgrading (or not upgrading) to new releases.

You only need to tag a version and submit and publish application-passwords at Packagist. :)

[2017-08-08 16:34] sebask opened #69 "Support for "pluginless" use of framework"
It would be really nice to be able to use this plugin by downloading it as an dependancy through Composer and including it in a theme.

Currently when I try the latter the plugin doesn't seem to work fully. UI shows up, but i.e. adding keys won't work (just a reload). This is due to the Javascript not being able to load. Since the source is hard coded to the plugins directory, also see https://git

[2017-08-15 14:17] georgestephanis commented on #68
PRs are welcome.  Not something I have much time to pursue, but if you're up for the leg work, I'd be happy to thumb stuff up.

[2017-08-15 14:19] georgestephanis commented on #69
Pull requests are certainly welcome.  This feels like an edge case, and I'm more concerned with core WP coding standards and paradigms.  Still somewhat hoping we get considered for merging into Core as an authentication mechanism.

[2017-08-15 14:20] #65 closed

[2017-08-16 07:46] sebask commented on #69
Maybe you're right. Maybe I'll whip up some code and make an PR.

[2017-08-16 08:08] sebask commented on #68
@georgestephanis Not sure about an PR. I was always under the impression the author of the repo  had to publish it at packagist.org. But I could be wrong.

[2017-08-17 17:56] olive338 opened #72 "Changed .htaccess file, still get error message"
So I have the common error message in my wordpress admin panel "Due to a potential server misconfiguration, it seems that HTTP Basic Authorization may not work for the REST API on this site: `Authorization` headers are not being sent to WordPress by the web server. You can learn more about this problem, and a possible solution, on our GitHub Wiki."

However, I've already changed my .htaccess files

[2017-08-18 13:31] georgestephanis commented on #68
Honestly, I don't have the time or available cognitive load to deal with another integration.  If you'd like to do it, I'll do what I can to let you, but I can't myself.

[2017-08-18 13:31] #68 closed

[2017-10-31 14:02] micheleriva commented on #72
Same here :(

[2017-11-03 18:39] ChristinePowell commented on #72
Yes I am having the same issues, edited the htaccess file and still getting the error message.

[2018-01-03 09:14] scones opened #74 "user defined password generator callbacks"
Hello Development-Team,

I'd like to see the feature, where i can set a user defined password generator, as the 5 4-byte chunks are neither secure, nor memorizable.
As tastes go, everyone has one, so i'd prefer to define my own password generator callback, that just returns the password.

[2018-01-14 13:11] mafam1024 opened #75 "frontend shortcode"
can i call the functions of creating password from frontend ?
if possible to get shortcode, we can put it in fronted user profile to let user generate password, because we lock login to (/wp-admin) for users out of administrators

[2018-02-18 01:13] chadlamson opened #76 "401 error from AngularjS app"
I have created an app password, and following the plugin instructions, created the base64 encoded string, but I am getting a 401 Unauthorized when trying to make a POST request.

I have edited my .htaccess file to have RewriteRule .* - [E=REMOTE_USER:%{HTTP:Authorization}], but still not working. Here is a sample of my request:

[code]

[2018-04-13 09:55] ckykenken opened #78 "Plugin not working in PHP 7"
I found that I cannot create application passwords when my site is in PHP 7, I opened up developer's tools, go into console, and it shows error 500. Then I switched back to PHP 5.6, the plugin is working normally. Which PHP module is used by this plugin and why it can't work in PHP 7?

[2018-05-28 14:39] noelfernandes opened #79 "Using Postman +Application Passwords to make requests to WordPress REST API"
Hi All,

I am currently using WordPress v4.9.5 (as stated on the ‘At a glance’ section of the dashboard in the admin panel) hosted on wpengine.com.

Given the above version, I understand that the REST API’s starting from v4.7 onwards are available out of the box and no additional plugins are required. With this, I proceeded to install the Application Passwords plugin to try out the basic authentic

[2018-07-05 09:33] jtammen commented on #79
@noelfernandes Hey, did you try setting the username and application password directly in Postman instead of encoding it? This worked for me!

[2018-07-06 18:00] thefrosty commented on #78
I see nothing in the code that would warrant a 500 error. I am also running this plugin in a php 7.2 environment without issues.

[2018-07-06 18:04] ckykenken commented on #78
It seems to be fixed. I had had that issue when I tried on PHP 7.0.

[2018-10-04 21:56] thefrosty opened #80 "Authentication requests for user resets their password"
After some tests, and a lot of complaints from users I confirmed this to be a real issue.

When making a REST request (like from POSTMAN) with the application password, it instantly changes the users hashed password forcing them to be logged out (from the web `/wp-admin`) and needing a reset password.

[2018-10-05 20:14] thefrosty commented on #80
Okay, I've tracked down the issue. It only happens when using the roots/wp-password-bcrypt package.

I opened an issue there: https://github.com/roots/wp-password-bcrypt/issues/22

[2018-10-05 20:14] #80 closed

[2018-12-13 17:46] georgestephanis commented on #79
Yup, that.  Also, possibly capitalize the B in Basic?  I could be mistaken on that -- but yeah, ideally setting the username and pass directly is ideal.

[2018-12-13 17:46] #79 closed

[2018-12-13 17:47] georgestephanis commented on #78
If you can get a php error message, please let me know and I'll investigate deeper.  Closing for now.

[2018-12-13 17:47] #78 closed

[2018-12-13 17:48] georgestephanis commented on #76
are you sure you're using the right path?  orders sounds like a woocommerce endpoint, and I think they use the wc prefix.

[2018-12-13 17:51] georgestephanis commented on #75
There's REST API endpoints to create application passwords for the user --

https://github.com/georgestephanis/application-passwords/blob/master/class.application-passwords.php#L89-L99

it should be relatively simple to duplicate the JS code we're using

https://github.com/georgestephanis/application-passwords/blob/master/application-passwords.js

to manage a front-end ui.

[2018-12-13 17:51] #75 closed

[2018-12-13 17:52] georgestephanis commented on #64
It works fine for most people in a SSL environment, I can't speak to why yours is different I'm afraid.

[2018-12-13 17:52] #64 closed

[2018-12-13 17:53] georgestephanis commented on #72
It could be a permissions issue on the .htaccess file, I'd need to investigate more closely to be sure.

[2018-12-13 17:53] #72 closed

[2018-12-13 17:58] georgestephanis commented on #74
We've addressed the entropy here: https://github.com/georgestephanis/application-passwords/pull/34 -- the passwords aren't meant to be memorizable -- merely set once in an application and never remembered.  The entropy is sufficiently high to be 'boring' crypto.  https://twitter.com/CiPHPerCoder/status/713592981559881728

[2018-12-13 17:58] #74 closed

[2018-12-13 18:06] #69 closed

[2018-12-13 18:07] #67 closed

[2018-12-13 18:07] #76 closed

[2019-01-08 23:56] JohnDeeBDD opened #81 "Add a new password programmatically?"
Is there a way to create a password and get the secret response programmatically? This would be very useful for plugin developers who want to automate the process or have the interaction happen in a different UI [like a theme].

i.e.:
`$secret = createNewAppPassword($someAppName, $someUserID);`

I didn't look through the code... maybe this can already be done.

[2019-01-09 02:43] BrianHenryIE commented on #81
https://github.com/georgestephanis/application-passwords/blob/master/class.application-passwords.php#L630-L663

`$new_application_password = Application_Passwords::create_new_application_password( 1, 'Test Password' );`

[code]

`$new_application_password[0]` is your password.

[2019-03-19 20:22] jikamens opened #82 "Revoke buttons don't work"
Current version of plugin, current version of WordPress, the buttons for revoking one or all application passwords on the user profile page don't do anything.

[2019-04-29 20:35] danielkellyio opened #83 "Not Tested with WP 5.1.1"
Get a warning when looking at the details of the plugin that it has not been tested with WP 5.1.1.
![Screen Shot 2019-04-29 at 3 33 46 PM](https://user-images.githubusercontent.com/7635209/56925222-727cdb00-6a94-11e9-8122-389312fbcbe1.png)

[2019-06-21 09:04] martinjbaker commented on #65
umm this is still there in the current plug-in "Details" section
https://wordpress.org/plugins/application-passwords/#description

[2019-07-17 06:58] kasparsd commented on #83
Yeah, this should be a simple fix to bump the version numbers. I'll work on a quick pull request.

[2019-07-17 19:03] #83 closed

[2019-08-20 15:48] seboss666 opened #91 "Password does not work with XMLRPC (WordPress Android App) ?"
Hello,

I've configured Two-Factor with great success at the first try, but I also need access for the WordPress Android App that I use in train to work on drafts. After digging a little I found that addon, installed it and generated the password. But it does not work, I keep getting authentication errors on my phone.
My Setup :
WordPress 4.9.10
PHP 7.0.33 (yes I know, upgrade is in testing proces

[2019-08-20 15:51] seboss666 commented on #91
Complement : For now I've disabled Two-Factor plugin, but letting the "Application Passwords" activated gave the Android App the access I was trying to get. But it's useless without Two-Factor, so how can this happen ?

[2019-08-20 16:25] kasparsd commented on #91
Yes, this is due to a recent feature added to the Two-Factor plugin https://github.com/georgestephanis/two-factor/pull/271 which disables all password-based API-level authentication requests for users that have the two-factor enabled.

To allow any kind of password authentication for users with two-factor enabled, add the following filter:

[code]

which disables the [lockdown](https://github.com/

[2019-08-20 16:25] #91 closed

[2019-08-20 16:26] kasparsd commented on #82
Thanks for reporting the issue @jikamens! Could you please provide detailed steps of how to reproduce the issue? Are there any JS errors in the browser console?

[2019-08-20 16:28] jikamens commented on #82
If you'd asked me to do that back in March I could have, but I am no longer using the add-on and do not have time at the moment to debug it further. Have you been unable to reproduce the problem I reported?

[2019-08-20 16:47] kasparsd commented on #82
Yes, I'm not able to replicate this. Adding multiple application passwords and clicking "revoke all" removes them as expected:

![application-passwords-deleted](https://user-images.githubusercontent.com/169055/63366877-5f638300-c383-11e9-81b9-6cd7b8437bf4.gif)

[2019-08-20 16:47] #82 closed

[2019-08-21 08:16] seboss666 commented on #91
Hello, filter works but not completely as I wanted, as the "original" password is still usable from the app, so application password is useless in this case. How can I be sure that only application password is used without two-factor in XMLRPC ?

[2019-08-26 02:40] harre096 opened #92 "How do I use this plugin with Custom Endpoints?"
Hello -
I like this extension as it is a reasonable way to add secret-based authentication to wp rest-api. So good work! :)

My goal is to build out some custom endpoints as described on [developer.wordpress.org](https://developer.wordpress.org/rest-api/extending-the-rest-api/adding-custom-endpoints/). The issue I am facing is that I cannot seem to find a clear way have my custom routes use applic

[2019-08-28 17:08] gurumark opened #93 "Could you document WP CLI commands?"
Thanks a lot for this project. Please document the commands available for wp-cli.

[2019-08-29 21:10] alexclst commented on #91
I agree with @seboss666. Ideally the main password would not work but app passwords would when using XMLRPC or the API. As such, the mentioned filter is **not** a fix. What we need is these two plugins to work together so that app passwords can work for the API, but normal passwords will not. This is the point of app passwords anyway, to work for things like XMLRPC and the API, but main passwords

[2019-11-21 12:32] shockthealien opened #95 "Basic Authorization Header Missing fix not working"
Hi

I followed your instructions to fix the issue and added the code to the .htaccess file but I am still getting the error. Are there any other things that could be causing this?

Thanks

[2020-01-07 12:20] schakko commented on #95
I've run into the same problem. With one of the latest WordPress changes (some time after August/September 2019) something must have changed inside WordPress' core. I assume there is something going on with the priorities of the filters/hooks for the REST subsystem.

Application Passwords relies on the constant REST_REQUEST (class.application-passwords.php::authenticate()) which is false, even if

[2020-01-07 13:12] shockthealien commented on #95
@schakko thanks for the reply. That sounds promising.

Does that hook go in the .htaccess file too? (sorry for my ignorance)

[2020-01-07 13:30] schakko commented on #95
@shockthealien The hook goes into one of your wp-content/plugins files, e.g.
- create a new file at *wp-content/plugins/hook/index.php*
- paste the following into to *index.php*
[code]

[2020-01-07 13:32] shockthealien commented on #95
@schakko Thanks! I’ll give that a try

[2020-01-08 14:20] shockthealien commented on #95
@schakko I added that to my sites and it doesn't seem to be working for me sadly

[2020-01-08 19:37] kasparsd commented on #95
@shockthealien Could it be that the webserver is using something other than Apache -- maybe Nginx? That would have a different way to configure things.

@schakko Could you please elaborate on what you mean? The plugin is [using the `determine_current_user` filter](https://github.com/WordPress/application-passwords/blob/bd1cfebd4d5d2eb6f6ad6a22cb8e09ec99e36926/class.application-passwords.php#L37) t

[2020-01-08 19:54] shockthealien commented on #95
It’s a possibility. The server is a shared one from 1and1. How can I find out for sure? If that’s the case is it a no-go?

[2020-01-08 20:00] kasparsd commented on #95
@shockthealien Check the [Site Health report](https://kinsta.com/blog/wordpress-5-2/#site-health-status) under the "Info" tab at the top of the page. It should have all the server details.

[2020-01-08 20:07] shockthealien commented on #95
Thanks I’ll have a look tomorrow and post the results

[2020-01-08 21:20] schakko commented on #95
Sure. When I am accessing my REST endpoint (/wp-json/...):
- the parameter *$input_user* for *rest_api_auth_handler* is empty.
- [self::authenticate](https://github.com/WordPress/application-passwords/blob/bd1cfebd4d5d2eb6f6ad6a22cb8e09ec99e36926/class.application-passwords.php#L262) is executed
- [$api_request](https://github.com/WordPress/application-passwords/blob/bd1cfebd4d5d2eb6f6ad6a22cb8e09

[2020-01-08 21:53] kasparsd commented on #95
Thanks for that detailed explanation @schakko!

It looks like the first time the `wp_get_current_user()` is called is [in line 609 of `wp-includes/class-wp.php`](https://github.com/WordPress/WordPress/blob/a24f5ccd1fee815571a67d2b665cc7a4a7a3f1fa/wp-includes/class-wp.php#L605-L607) during [`WP->init()` in `wp-settings.php`](https://github.com/WordPress/WordPress/blob/a24f5ccd1fee815571a67d2b665cc7

[2020-01-09 10:06] shockthealien commented on #95
@kasparsd heres the server info. It seems to be Apache
<img width="825" alt="Screenshot 2020-01-09 at 10 03 58" src="https://user-images.githubusercontent.com/2083273/72058176-905b3a80-32c7-11ea-9163-e386cb88d7ab.png">

[2020-01-09 10:11] kasparsd commented on #95
@shockthealien Could you please post a detailed description of your issue -- what API endpoint are you trying to access, what is the exact request URL and the request headers?

When are you getting this error? Where is it being returned? How can I replicate it with a basic install of WP and this plugin?

[2020-01-09 10:26] shockthealien commented on #95
@kasparsd I'll try but I am not hugely technical.

Basically I am trying to use the Distributor plugin from 10up (https://distributorplugin.com), and they require this plugin to be installed to work. (or to create a WP application)

They are trying to reach the http://yourdomain.com/wp-json

I tried a normal installation on the sites I was going working on and got the error, so I did a clean insta

[2020-01-09 10:37] kasparsd commented on #95
Thanks for the explanation @shockthealien!

The warning is set if the web server fails this check HTTP Basic Auth check:

https://github.com/WordPress/application-passwords/blob/18d65dfecff3c1f96647ba7fdd3c63e28c4be18f/application-passwords.js#L17-L40

You should reach out to your web hosting support about this. PHP needs access to `$_SERVER['PHP_AUTH_USER']` and `$_SERVER['PHP_AUTH_PW']` during H

[2020-01-09 10:37] #95 closed

[2020-01-09 10:42] shockthealien commented on #95
Thanks. I will try to get them to resolve that. Tho im not confident they will. Fingers crossed

[2020-01-09 11:42] schakko commented on #95
@kasparsd I am out of ideas. I can confirm that with a basic WordPress installation (WordPress 5.2.6, Application Passwords 0.1.1), the required headers are filled but the following code fails:
[code]

Permissions for permission_callback are valid and did work until Q4/2019.

[2020-01-14 10:22] shockthealien commented on #95
@schakko yeah as I suspected the hosting company didn't know how to fix that, so I guess I am screwed and with nowhere to go

[2020-02-21 10:40] kasparsd opened #100 "Add a filter to disable the application password authentication"
See https://wordpress.org/support/topic/limit-application-to-specific-rest-endpoints/

[2020-03-04 01:23] styledev commented on #100
Any word on this, is there a way we can manually check for this on our custom endpoints?

[2020-03-12 11:01] naguibihab commented on #95
I'm getting the same error message as well even after following the wiki and modifying the .htaccess file. I'm using bitnami on ec2

[2020-03-12 11:05] naguibihab commented on #95
I tried printing out the server variables you posted @kasparsd
[code]
but i don't think they're set:
PHP Notice:  Undefined index: PHP_AUTH_USER in /home/bitnami/test.php on line 2
PHP Notice:  Undefined index: PHP_AUTH_PW in /home/bitnami/test.php on line 3

Any idea where to go from here?

[2020-03-12 11:11] naguibihab commented on #95
Ah found the solution, I'll leave this here in case anyone else faces this issue with **bitnami**: https://community.bitnami.com/t/problem-getting-the-wordpress-rest-api-with-jwt-authentication-working-on-bitnamis-amazon-lightsail-wordpress/54214

[2020-03-26 03:32] AndrewChenUoA opened #102 "Getting Basic Authorization Header to stay permanent"
I've followed the instructions at https://github.com/WordPress/application-passwords/wiki/Basic-Authorization-Header----Missing and can see that API requests are coming through to Wordpress and are authenticated. Great!

Unfortunately, then when I active/deactivate/modify any plugin, Wordpress overwrites the .htaccess file and wipes out the change. I believe this might be related to the issues des

[2020-03-26 06:29] kasparsd commented on #102
Thank you for reporting the issue @AndrewChenUoA!

The way headers authentication headers are set can be different on each hosting environment so we can't really have a generic solution that would work for all setups. Nginx and Apache have different ways of doing that, for example and Nginx doesn't support dynamic configuration as Apache in `.htaccess`.

Could you try placing the `.htaccess` custo

[2020-03-26 07:15] AndrewChenUoA commented on #102
Makes sense - I should have reported that I'm using Wordpress 5.3.2 on an Apache box with PHP 7.1.33.

I've just put the custom line above the `#BEGIN WordPress` line, and so far nothing has broken and it's still working. So I'll try that for a bit, and if it's still working and I remember I'll edit the Wiki.

Worth noting that the .htaccess says explicitly:
# The directives (lines) between `BEGIN

[2020-03-26 07:38] kasparsd commented on #102
Thanks for bringing up that quote. Turns out there a way to actually append additional rewrite rules using the [`mod_rewrite_rules` filter](https://github.com/WordPress/WordPress/blob/641c632b0c9fde4e094b217f50749984ca43a2fa/wp-includes/class-wp-rewrite.php#L1556).

So I'm re-opening this issue to add the required headers automatically.

[2020-04-20 19:06] ameyer410 opened #103 "Errors connecting MemberPress and ThriveCart via plug-in"
Even though I've modified the .htaccess file (and it's staying) per instructions, ThriveCart is referring me to you all since the Applications Password does not seem to be properly linking.

![Screen Shot 2020-04-20 at 12 59 18 PM](https://user-images.githubusercontent.com/64038492/79789642-c321bf80-8307-11ea-9a4a-ef8871b975b7.png)
![Screen Shot 2020-04-20 at 12 53 57 PM](https://user-images.githu

[2020-04-21 13:14] ameyer410 commented on #103
Update:
Anyway, as per the current issue, this is the error that I am able to find:

{code: &quot;no-credentials&quot;,…}
code: &quot;no-credentials&quot;
message: &quot;No HTTP Basic Authorization credentials were found submitted with this request.&quot;
data: {status: 404}

The plugin in question requires some credentials, however, I am not quite sure where should be applied since I am not aware

[2020-04-23 12:55] ameyer410 commented on #103
Update: this was fixed in the .htaccess file but not with the line in that instruction. My developer reported that he had to add something completely different.

[2020-04-23 12:55] #103 closed

[2020-04-29 15:24] kasparsd opened #104 "Add support for email as username"
See https://wordpress.org/support/topic/email-instead-of-userid-in-rest-request/

[2020-04-29 15:29] kasparsd commented on #104
It should actually work already:

https://github.com/WordPress/application-passwords/blob/0e71ecdad32eb54c7bfebac0553482e72f3134aa/class.application-passwords.php#L361-L365

[2020-04-29 15:35] kasparsd commented on #104
Should have been fixed in #104.

[2020-04-29 15:52] BrianHenryIE commented on #104
This is 104, you mean #77

[2020-04-30 10:11] kasparsd commented on #104
Closing until we know exactly how to replicate this.

[2020-04-30 10:11] #104 closed

[2020-05-01 08:57] #81 closed

[2020-05-08 12:54] yashasolutions opened #105 "status: 401 - You are not currently logged in."
I have installed the plugin - created a key.
Yet when I
[code]
I get
[code]

web server is nginx running inside a Homestead box.

Is there any special config for nginx to work with this plugin?

[2020-05-09 02:37] yashasolutions commented on #105
ok - I found out my problem - I confused the 'username' with 'application name'
replaced the appname with wordpress username and all worked fine...

[2020-05-09 05:24] #105 closed

[2020-05-12 12:50] maheshwaghmare opened #106 "Suggestion to add the tutorial link"
I have created a tutorial in which I have examined about the application passwords.

And demonstrate some example usage with Postman, Curl & with wp_remote_post().

So, Is there any possibility for adding the link in to the readme file?

Tutorial link: [How to use Application Passwords for Basic Authentication?](https://maheshwaghmare.com/doc/application-passwords/)

[2020-05-13 00:42] r14ull commented on #106
many thanks for your writeup maheshwaghmare, helped me a lot with posting to https://github.com/airesvsg/acf-to-rest-api/ plugin securely

[2020-06-12 23:19] velara3 commented on #102
I'm getting the same message. I don't have a .htaccess on my install directory (or I accidentally overwrote it).

Should I copy and paste the entire code block mentioned [here](https://github.com/WordPress/application-passwords/wiki/Basic-Authorization-Header----Missing)? Or just add that line and see if WordPress creates or updates the .htaccess?

[2020-07-31 17:07] thefrosty opened #109 "WordPress 5.5 Support"
I see that this repo moved into the WordPress space, so one should be aware of the changeset 😉 .

_Running WordPress 5.5 beta-RC1._

See example notice:
[code]

Just adding for tracking purposes.

[2020-08-12 12:39] jryutzy opened #110 "401 Response when PHP-FPM Enabled"
We recently noticed that all our REST API calls were failing authentication. It appeared to turn the request into an request from an Anonymous user even though we passed Basic Authentication header.

In Postman, here is what is being sent
POST /wp-json/wp/v2/users
Content-Type: application/json
Authorization: Basic YmVjaHRfYXBpX2FkbWluOmFzZGZhZGZzYXNkZmRmcw==

{
“username”: “ztest@bt1234.com”,
“na

[2020-08-19 19:54] #109 closed

[2020-08-19 20:15] kasparsd commented on #110
Thanks for reporting the issue @jryutzy!

This is usually caused by the PHP config as you mentioned. See the ["Why does this happen?" section](https://github.com/WordPress/application-passwords/wiki/Basic-Authorization-Header----Missing#why-does-this-happen) of this wiki page for an explanation of why that happens.

[2020-08-19 20:15] #110 closed

[2020-08-19 20:26] kasparsd commented on #106
Thank you for sharing the article @maheshwaghmare!

[2020-08-19 20:27] kasparsd opened #113 "Missing grunt-cli dependency"
Build and deploy tooling requires Grunt CLI which is a separate package from the main Grunt package.

[2020-08-19 20:32] #113 closed

[2020-09-13 13:15] bjohas opened #115 "Plugin could not be activated because it triggered a fatal error."
Hello,

when I install the plugin from within a Wordpress install (latest version, latest stable PHP), I get:
[code]
Any tips?

Thanks!!!

[2020-09-18 14:59] jeffpaul commented on #115
@bjohas I just tried installing Application Passwords on a WordPress 5.5.1 install running PHP 7.3.5 and do not have issues activating the plugin.  Mind sharing the export from your Site Health Info so others can try to replicate your issue and better assist?

[2020-09-18 15:01] jeffpaul commented on #7
@kasparsd it looks like you've added tests recently.  Are there any others that you feel could/should be added or can we close out this issue?

[2020-09-18 15:05] kasparsd commented on #7
Yeah, unfortunately is just one set of tests for the HTTP login part of the codebase. Would be nice to add some coverage for the areas that @kjbenk mentioned. @jeffpaul Would you suggest opening a new issue for that and defining the critical areas to be tested or repurpose this issue?

[2020-09-18 15:07] kasparsd commented on #115
@bjohas Could there be another instance active of this same plugin under the must-use plugins, for example? Searching for `Application_Passwords` from the root of your WP instance could help identify this.

[2020-09-18 15:11] jeffpaul commented on #93
@gurumark looks like you'll get this when #70 gets merged/released so you may want to subscribe to updates on that PR to know when it'll be available for your use.

[2020-09-18 15:15] jeffpaul commented on #7
@kasparsd might as well repurpose this issue and update the checklist in the original description or note what the current checklist items to resolve are in a subsequent comment so we can work towards adding those tests and getting this work closed out.

[2020-09-18 15:17] jeffpaul commented on #106
Having a step-by-step tutorial is helpful for new users getting this plugin set up.  I'd suggest we look to port @maheshwaghmare's work into a new page on the wiki in this repo so that we can more easily update the tutorial as new versions of the plugin are released.  If @kasparsd is ok with that, then I can work on getting @maheshwaghmare's work updated to the current plugin version and pushed up

[2020-09-18 15:30] kasparsd commented on #106
Sounds great @jeffpaul -- having a wiki page with relevant tutorials and usage examples would be great!

[2020-09-18 15:34] jeffpaul commented on #106
@kasparsd if you want to assign to me, I'll look to get this started next week

[2020-09-23 07:13] jdevalk opened #116 "success_url should be forced to be https"
We should only redirect back to `$success_url` if it is HTTPS. Otherwise you're exposing the application password over plain HTTP. We might want to add an override for that for testing purposes but then we should output a clear warning on the screen that the success URL is not secure.

[2020-09-23 07:39] kasparsd commented on #116
That’s a great point @jdevalk! Do you suggest we always override the return URL to be HTTPS and have a filter in place to disable the override?

[2020-09-23 07:58] jdevalk commented on #116
No I just wouldn't redirect to it if it isn't https.

[2020-09-23 14:00] georgestephanis commented on #116
I'd initially thought that perhaps instead of accepting a http url, we could just display the credentials to the user, so that they can enter it into the app manually -- however that seems kinda silly as most apps using this flow wouldn't have a place for the user to enter the creds if they were expecting to get them back via a redirect.

Also, if we force it to reject `http://` urls, they would n

[2020-09-23 20:56] jeffpaul commented on #106
@kasparsd I'm getting an error trying to push to the wiki (presumably because I need to add images and can't do that via the web Wiki interface and need to via Git).  Can you add push access for me?

[2020-09-23 20:58] kasparsd commented on #106
@jeffpaul Would love to do that but unfortunately I don't have the capabilities to do that. Maybe @georgestephanis could help with that?

[2020-09-23 21:01] TimothyBJacobs commented on #116
How about introducing a `wp_is_allowed_application_password_redirect_url()` function that would accept a URL and return a `WP_Error`? By default, we'd reject `http`, but the function would be filterable.

[2020-09-23 21:11] kasparsd commented on #116
@georgestephanis Are you suggesting we add a warning/notice to that particular admin section if the redirect URL starts with `http://`? Or do we also disable the "Yes, I approve of this connection." button unless the newly added filter overrides it?

[2020-09-25 15:15] TimothyBJacobs opened #117 "The responsive list table doesn't kick in immediately after passwords are added."
If you create a new App Password while on mobile, the new row is added to the table, but it cannot be expanded to see the full details. After refreshing the page, it functions as expected.

![image](https://user-images.githubusercontent.com/3460448/94284386-47641880-ff20-11ea-99ef-fa0e07fb2948.png)

![image](https://user-images.githubusercontent.com/3460448/94284396-49c67280-ff20-11ea-9dc4-9e07e7d

[2020-09-25 15:19] TimothyBJacobs opened #118 "Should the state parameter be mandated?"
The OAuth 2 spec defines a `state` parameter that can be used to help prevent CSRF attacks as described by https://tools.ietf.org/html/rfc6749#section-10.12

   to inject its own authorization code or access token, which can
   result in the client using an access token associated with the
   attacker's protected resources rather than the victim's (e.g., save
   the victim's bank account informati

[2020-09-25 15:34] jeffpaul commented on #117
As noted in Slack, I'm looking to find someone to help on this but if someone else has interest in the meantime please go for it!

[2020-09-26 21:18] TimothyBJacobs commented on #116
A basic `wp_die` form of this was implemented in https://github.com/WordPress/wordpress-develop/pull/540/commits/bd57332c6b11368b47fc12b1a8b12eb290dfe42f.

[2020-09-26 21:29] TimothyBJacobs opened #121 "Review Authorize Application Screen Design"
# Non-Redirect Flow

![image](https://user-images.githubusercontent.com/3460448/94350471-a14a0880-001c-11eb-860f-f281581f8e13.png)

![image](https://user-images.githubusercontent.com/3460448/94350501-e0785980-001c-11eb-88ac-5c42439adfc7.png)

# Redirect Flow
![image](https://user-images.githubusercontent.com/3460448/94350462-93948300-001c-11eb-8751-c975efde260a.png)

# Error States

If the Applica

[2020-09-27 08:17] #117 closed

[2020-09-30 17:58] TimothyBJacobs commented on #121
One major way this could change would be to use similar styling to `wp-login.php` as suggested by @aristath. @georgestephanis mentioned:

Adding it in `wp-login.php` would complicate the implementation, but if it is worth it we can do it.

[2020-10-01 06:29] aristath commented on #121
The reason I suggested styling it similar to the login page, is because these will probably be used by 3rd-party apps.
I can envision a future when this is used for all sorts of things, with 3rd-party apps and sites redirecting me to a WordPress site, ask for authentication a-la facebook or google.
Making it a separate screen with dedicated styling instead of the generic wp-admin would go a long w

[2020-10-02 06:44] kasparsd opened #122 "Bump PHPUnit to 5.4"
Per [Travis runs](https://travis-ci.com/github/WordPress/application-passwords/jobs/394033644#L389):

[2020-10-02 06:45] #17 closed

[2020-10-02 20:56] bjohas commented on #115
@kasparsd - thanks for the comment!

There's nothing relating to `Application_Passwords`. However, I've got these two
[code]
(and other files in those dirs).

Does that look ok?

[2020-10-03 06:28] kasparsd commented on #115
@bjohas Looks like you have the Distributor plugin https://github.com/10up/distributor installed which bundles the this plugin already. That means you can't have the standalone version of the same plugin installed as long as the Distributor plugin is active.

[2020-10-03 06:28] #115 closed

[2020-10-06 00:00] TimothyBJacobs opened #123 "Support an app_id parameter"
We could add support for an `app_id` parameter that applications could use when sending the user to `authorize-application.php`. Apps can already pass an `app_name` but this is just a suggestion and can be changed by the user when creating an app. The `app_id` would be a string unique to that application, and by default not displayed to the user.

Plugin developers could use this to add support fo

[2020-10-06 18:55] TimothyBJacobs commented on #121
The authorized message has changed slightly to follow the notice styling.

![image](https://user-images.githubusercontent.com/3460448/95247514-f4be1280-07e3-11eb-930e-399e5cc74ddc.png)

[2020-10-06 19:59] georgestephanis commented on #102
Just noting that this functionality is added to the PR to implement this in Core.

https://github.com/WordPress/wordpress-develop/pull/540/files#diff-7e404b0606ee5356291d2c6e122fd00eR1512

https://github.com/WordPress/wordpress-develop/pull/540/commits/d45d9464537d99238171209bb30b412efd2425a4

[2020-10-06 20:02] georgestephanis commented on #100
Just worth noting that on the core proposal, the `wp_is_application_passwords_available` filter is available -- it isn't itself specific to endpoints, as the authentication mechanism can also work with xmlrpc requests and is more agnostic than specific to a specific api implementation, but an earlier action could check the path and disable it if desired.

[2020-11-20 18:42] TimothyBJacobs commented on #123
This was implemented in the Core merge.

[2020-11-20 18:42] #123 closed

[2020-11-20 18:43] TimothyBJacobs commented on #118
We decided not to mandate this.

[2020-11-20 18:43] #118 closed

[2020-11-20 18:46] TimothyBJacobs opened #124 "Update plugin for 5.6"
We need to update the plugin so that when it is running on WordPress 5.6 it doesn't output its UI and doesn't register the authentication actions. Right now, the UI is pretty much completely broken with the plugin active on 5.6.

I think we probably want to keep the existing REST API and the API methods on `Application_Passwords` but with a `_deprecated_function` call.

[2020-12-10 11:09] kaymal opened #125 "Application Passwords disabled"
Application Passwords seems to be disabled by default if the Website is using Wordfence security plugin. I solved the issue by disabling it from Wordfende > Firewall > Brute Force Protection.

[2020-12-11 13:13] zlager commented on #106
I've found this part helpful as well, incase anyone needs to connect to wordpress api with php:
https://stackoverflow.com/questions/35765474/create-post-wordpress-com-using-rest-api

[2020-12-11 14:33] pratikraman-dev opened #126 "i have double options in my one server and seems not working always returns 403 forbidden"
![image](https://user-images.githubusercontent.com/8825570/101915522-bbdb5900-3beb-11eb-9865-d3190424d589.png)

and when i create test password from below nothing happens and when from above option 2 passwords are created

![image](https://user-images.githubusercontent.com/8825570/101915664-ed542480-3beb-11eb-8b8f-600f573362c9.png)

please help me out !!

[2020-12-11 16:42] jeffpaul commented on #106
@georgestephanis fwiw I still have my branch stashed locally and can push it to the wiki here if you're able to bump my permissions in the repo.

[2020-12-28 22:04] davidmpurdy commented on #100
Here's what I came up with to bypass application passwords on a specific endpoint to allow for custom authentication.

[code]

[2021-01-08 08:49] kaymal commented on #126
Which version of WordPress are you using? I recommend using WordPress 5.6 and deactivate the Applications Passwords Plugin as suggested [here](https://make.wordpress.org/core/2020/11/05/application-passwords-integration-guide/). You may also want to check out `.htaccess` file settings as described [here](https://github.com/WordPress/application-passwords/wiki/Basic-Authorization-Header----Missing)

[2021-02-07 23:16] 01jonathanf opened #129 "POST working fine but not GET?"
Hi,

 the example curl request: 'curl --user "username:password" -X POST -d "title:newTitle" https://example/wp-json/wp/v2/posts/5700'    is working fine, however using a GET request returns the following error.

<img width="917" alt="Screenshot 2021-02-08 at 00 12 09" src="https://user-images.githubusercontent.com/37303488/107162360-c70bf480-69a2-11eb-8832-b478fea070a4.png">

[2021-04-29 01:08] manolobevia opened #130 "Error after activating plugin."
Plugin could not be activated because it triggered a fatal error.

`Fatal error: Cannot declare class Application_Passwords, because the name is already in use in /code/web/wp-content/plugins/application-passwords/class.application-passwords.php on line 9`

Could you please let me know how to fix this issue?
Thank you.

[2021-04-29 01:41] manolobevia commented on #130
Found solution [#115](https://github.com/WordPress/application-passwords/issues/115)
Thanks @kasparsd

[2021-04-29 01:41] #130 closed

[2021-05-07 06:31] kasparsd opened #131 "Archive this plugin now that merged into WordPress core"
- Update the readme with a notice and a link to the feature guide for core.
- Mark this repository as archived.

[2021-05-07 07:00] kasparsd commented on #131
@georgestephanis Can you please help with marking this repository as archived now that the readmes have the notice?

[2021-06-24 05:59] atalon-kn opened #137 "unable to create new password after revoking"
- after changing the user permission, the api key right does not update
- revoke the key ans save
- cannot create any new application key in any user, response 'Not Found'
![apkeynf](https://user-images.githubusercontent.com/79138406/123210232-4df5df80-d4f4-11eb-820e-74fcb6554633.PNG)

wordpress version: 5.72
hosted on ec2 apache

[2021-06-29 18:24] TimothyBJacobs commented on #137
Hi @atalon-kn,

If you are using WordPress 5.6+ there is no need to use the Application Passwords plugin anymore, as the feature has been merged into core.

[2021-07-12 20:46] NathanTech7713 opened #138 "Not found?"
Hi there,

I opened a forum topic about this too but figured it would not hurt to ask here too.
When I try to create application passwords I enter a name in the field, click add and it brings up an alert that says "not found" with a dismiss button and no other info.

any ideas on what causes this?

[2022-04-03 01:46] SndChaser opened #141 "Basic Authorization Missing"
I'm trying to resolve an issue with the Authorization Header being missing under a server configuration.  I found this wiki entry:  https://github.com/WordPress/application-passwords/wiki/Basic-Authorization-Header----Missing -- which is fine if you are working with Apache.  But, how would this be handled under Nginx?

I do see a response on ServerFault for converting the htaccess rewrite rule to

[2022-07-18 18:51] willnjl commented on #92
same

[2022-07-18 18:54] willnjl commented on #92
https://wordpress.org/support/topic/how-to-use-permission_callback-with-remote-application-passwords/